@use 'sass:color';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

// Section
section {
  padding: 5rem 0rem;

  @include mix.respond(phone) {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
